# systemd service file for usb-tethering

[Unit]
Description=USB Tethering

[Service]
Type=forking
ExecStart=/bin/bash /usr/bin/usb-tethering

[Install]
WantedBy=multi-user.target
