pkgbase = device-sdm845-common
	pkgdesc = Common package for Qualcomm SDM845 devices
	pkgver = 0.4
	pkgrel = 1
	arch = aarch64
	license = MIT
	depends = linux-firmware-qcom
	depends = linux-firmware-ath10k
	depends = linux-sdm845
	depends = pd-mapper-git
	depends = qrtr-git
	depends = rmtfs-git
	depends = tqftpserv-git
	depends = boot-android-common
	depends = meta-modem-qcom
	provides = alsa-ucm-conf
	conflicts = alsa-ucm-conf
	source = sdm845-common.conf
	source = sdm845.txt
	source = https://gitlab.com/postmarketOS/pmaports/-/raw/64dc758fed3d08a876a74bd7724cde00bdedd32f/device/community/soc-qcom-sdm845/90-feedbackd-pmi8998.rules
	source = git+https://gitlab.com/sdm845-mainline/alsa-ucm-conf.git/#commit=621c71fd5f5742c60d38766ebb2d1bd3b863a2a4
	sha256sums = 557bde976b39d767305b870f0de1f5572bda953afc7d8ea153bf4b6cd2ae913d
	sha256sums = b6834f1eb597cf5846ce730f52d3b24b4b3eaca66388d2b8611d1ca5e37dbdf5
	sha256sums = 897f2f5533644668b63e5fbff917e050af1cfb7472553c3ee520388c932ab6f9
	sha256sums = SKIP

pkgname = device-sdm845-common
