pkgbase = base-kupfer
	pkgver = 0.3
	pkgrel = 3
	arch = aarch64
	license = MIT
	depends = alsa-ucm-conf
	depends = alsa-utils
	depends = bluez
	depends = bluez-libs
	depends = bluez-utils
	depends = haveged
	depends = iw
	depends = net-tools
	depends = networkmanager
	depends = openssh
	depends = sudo
	depends = usb-tethering
	depends = wireless-regdb
	depends = wpa_supplicant
	depends = xdg-user-dirs
	depends = mkinitcpio-kupfer
	depends = mkinitcpio-kupfer-hooks
	depends = parted
	depends = kupfer-config
	source = ignore-power-key.conf
	source = locale.conf
	source = random-mac.conf
	source = fstab
	source = base-kupfer.txt
	sha256sums = 784c1237e8c553fd9717e4caf8b996abb4631348b27e3425bb8e39bd7e617476
	sha256sums = 151b67da4450eb4f81143835f2342a4302284a0f336c4e13bb9de69009611c9b
	sha256sums = 06198df3c43c556d0fe8388fafc22527342714e163235cc7792cba18e3a903b2
	sha256sums = c18ae14419f2550e6d27b856729ac63f06f152c2592220d2ddc0460e562a02a4
	sha256sums = 68001f11133134e8e3a9cb5c27168f887a8dcefb6369cab2437c009327c804b9

pkgname = base-kupfer
