pkgbase = boot-android-bootimg-updater
	pkgver = 0.4
	pkgrel = 2
	install = android-bootimg-updater.install
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = mkbootimg-git
	source = 91-linux.hook
	source = update-bootimg.sh
	sha256sums = 01419bd235d098402fa78bf8127d229d2f8e4fb6f09ce9bc76b5df9e35e52479
	sha256sums = b95a016a998a50e6a8ac345f6dec60ba9dcc00854d4a3603e9d201d8e566146b

pkgname = boot-android-bootimg-updater
