pkgbase = kupfer-config
	pkgdesc = Tool to apply specific configurations and state
	pkgver = 0.1
	pkgrel = 3
	arch = any
	license = GPL-3.0-or-later
	depends = python
	source = kupfer-config.py
	source = example.txt
	sha256sums = a688514d6b30724876f9b1a923af8041657506ff7bf925435aaf9495fae34de8
	sha256sums = df9789f6cb5af275d73a19110b176285ccec7ec0d8e4156bc0e8569a003d2d21

pkgname = kupfer-config
